@use "./variables";

@mixin px($l: 0, $r: 0) {
	padding-left: $l;
	padding-right: $r;
}

main.container {
	max-width: $main-width;
	display: grid;
	grid-template-columns: $aside-width 1fr $aside-width;
	gap: 2rem;
}

aside.book-menu {
	.book-brand {
		font-size: $fs-title;
		font-weight: 600;
		color: $color-accent;
	}

	ul {
		font-size: $fs-base - 1px;
	}

	a.active {
		color: $color-accent;
		font-weight: 500;
	}

	.book-menu-content {
		max-width: 16rem;
		width: 100%;
		padding-left: 0;
		padding-right: 1rem;
	}
}

div.book-page {
	@include px($page-padding, $page-padding);
	width: 100%;

	h1,
	h2,
	h3 {
		font-weight: 500;
	}

	h1 {
		margin-top: 0;
		padding: 0 2rem;
		line-height: 1.15;
		font-size: $fs-h1;
		text-align: center;
	}
	h2 {
		margin-top: calc(2em + 8px);
		font-size: $fs-h2;
	}
	h1 + h2 {
		margin-top: calc(2em - 4px);
	}
	h3 {
		margin-top: calc(2em - 8px);
		font-size: $fs-h3;
	}
	h2 + h3 {
		margin-top: calc(1em + 4px);
	}

	p {
		line-height: 1.5;
	}

	strong {
		color: $color-accent;
		font-weight: 600;
		font-size: $fs-base + 1px;
	}

	td {
		padding: 0;
	}

	.book-footer {
		margin-top: 3rem;
		border-top: 1px solid $footer-border-color;
		padding-top: calc(1rem + 4px);

		a {
			span {
				color: $color-accent;
				font-size: $fs-base;
			}

			img.book-icon {
				width: $fs-base + 4px;
				height: $fs-base + 4px;
			}
		}
	}
}

aside.book-toc {
	font-size: $fs-base - 1px;

	a {
		color: hsl(0, 0%, 20%);
	}

	nav > ul > li > a {
		font-size: $fs-base + 1px;
		font-weight: 500;
	}

	.book-toc-content {
		@include px(0, 0);
	}
}
